.main-container {
  margin-left: 10px;
}
.text {
  margin-bottom: 5px;
}
.start-dot {
  height: 13px;
  width: 13px;
  background-color: #78c000;
  border-radius: 50%;
  display: inline-block;
}
.pause-dot {
  height: 13px;
  width: 13px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
