input[type="number"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-with-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  background: white;
  border: 2px solid #c83349;
  border-radius: 5px;
  color: #c83349;
  font-size: 15px;
  width: 65px;
  padding: 3px 1px;
}
.btn-reset {
  color: #717171;
  border: 2px solid #717171;
}
.btn-start,
.btn-pause {
  color: white;
  border: 2px solid black;
  background: black;
  opacity: 0.87;
}
