<div class="main-container">
  <div class="logo-products">
    <div class="logo" (click)="navigateToHome()">.in</div>
    <div class="right-side-options">
      <div class="products" (click)="navigateToProducts()">Products &nbsp; <i class="fa fa-shopping-cart" aria-hidden="true"></i></div>

      <div class="timer" (click)="navigateToTimer()">
        Timer 1 &nbsp; <i class="fa fa-clock-o timer-icon" aria-hidden="true"></i>
      </div>
      <div class="timer" (click)="navigateToTimerWithSubjects()">
        Timer 2 &nbsp; <i class="fa fa-clock-o timer-icon" aria-hidden="true"></i>
      </div>

      <div class="students" (click)="navigateToStudents()">
        Students &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="students" (click)="navigateToDynamicDivs()">
        Dynamic Divs &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
