<div class="main-container">
  <div class="price-filter">
    <div (click)="showPriceFilter()">
      <i class="fa fa-filter filter-icon" aria-hidden="true"></i>
    </div>
    <div class="filter-data" *ngIf="priceFilterFlag">
      <div class="price-filter-heading">Price</div>
      <div class="clear-all" (click)="filterProducts('', true)">Clear all</div>
      <div class="filter-list">
        <span
          [ngClass]="{ 'filter-selected': filter.selected == true }"
          *ngFor="let filter of priceFilters"
          (click)="filterProducts(filter)"
          class="filter-label"
          >{{ filter.label }}</span
        >
      </div>
    </div>
  </div>
  <div class="close-filter">
    <div (click)="showPriceFilter()">
      <i
        class="fa fa-times close-icon"
        *ngIf="priceFilterFlag"
        aria-hidden="true"
      ></i>
    </div>
  </div>

  <div
    class="products-container"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="20"
    [infiniteScrollDisabled]="loadedProducts"
    (scrolled)="loadMore()"
  >
    <div class="tile-card" *ngFor="let product of products">
      <div class="product-image-container">
        <img class="product-image" src="{{ product.image }}" alt="" />
      </div>
      <div class="details-container">
        <div class="category">
          <div class="category-text">{{ product.category }}</div>
        </div>
        <div class="title">
          <div class="title-text">{{ product.title }}</div>
        </div>
        <div class="rating">
          <span class="star" *ngFor="let ele of product.ratingValue"
            ><i class="fa fa-star" aria-hidden="true"></i
          ></span>
          <span class="star" *ngFor="let ele of product.noRating"
            ><i class="fa fa-star-o" aria-hidden="true"></i
          ></span>
          <span class="count">&nbsp;{{ product.rating.count }} ratings</span>
        </div>
        <div class="description">
          <div class="description-text">{{ product.description }}</div>
        </div>
        <div class="price-with-add-to-cart">
          <div class="price">₹ {{ product.price }}</div>
          <div class="add">
            <i
              class="fa fa-plus add-icon"
              (click)="addToCart(product.title)"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
