<div class="main-content" (click)="navigateToProducts()">
  <div class="main-container">
    <img
      class="banner"
      src="assets/clothes.jpg"
      alt="Snow"
      style="width: 100%"
    />
  </div>
  <div class="outCircle">
    <img
      class="ps-image"
      src="assets/publicis-modified.png"
      alt="Cinque Terre"
    />
    <div class="second rotate linear infinite duringFour">
      <div class="counter">
        <div class="inner">PUBLICIS</div>
      </div>
    </div>
    <div class="third rotate2 linear infinite duringThird">
      <div class="counter2">
        <div class="inner2">SAPIENT</div>
      </div>
    </div>
    <!-- <div class="thirdBigger rotate linear infinite duringTwentyOne">
      <div class="counter">
        <div class="inner green">s'up
        </div>
      </div>
    </div> -->
  </div>
</div>
