.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.app-countdown-timer {
  width: 50%;
  height: 370px;
}
.app-start-and-pause-count {
  width: 50%;
  height: 370px;
}
.app-timer-start-and-pause {
  width: 50%;
  height: 370px;
}
.app-timestamps {
  width: 50%;
  height: 370px;
}
